* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 40px;
}

#taskInput {
  padding: 8px;
  font-size: 16px;
}

#ajouterTache {
  padding: 8px 12px;
  font-size: 16px;
  margin-left: 10px;
}

.task-item {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.task-item.completed label {
  text-decoration: line-through;
  color: gray;
}

.btnSupprimer {
  margin-left: auto;
  background-color: red;
  color: white;
  border: none;
  padding: 4px 8px;
  cursor: pointer;
}

.btnSupprimer:hover {
  background-color: darkred;
}